@using Squawkings.Controllers
@model Squawkings.Models.UserDisp

<div id="profile-item">

    <div id="profile-inner">
        <a href="@Url.Action("Index", "UploadFile")">
            <img class="avatar"  src="@Url.Content("~/Content/Images/Robbo.jpg")" alt="View" />
        </a>
    
        <div id="profile-inner-left">
            <div id="profile-name">
                @Model.UserName
            </div>
            <div id="profile-text">
                @Model.FullName
            </div>
            <div id="profile-bio">
                @Model.Bio
            </div>
        </div>
        <div id="profile-inner-buttons">
            <div>
                <span>@Model.Followers</span>
                <span>Followers</span>
            </div>
            <hr/>
            <div>
                <span>@Model.Following</span>
                <span>Following</span> 
            </div>
            <hr/>
            <div>
                @if(Model.UnfollowButton)
                {
                    using (Html.Form<ProfileInputModel>("UnFollow","Profile")) {
                        @Html.Input(x => x.UserName).Attr("type", "hidden")
                        @Html.Submit("UnFollow").AddClass("btn-follower")
                    }                    
                }
                else if(Model.FollowButton)
                {
                    using (Html.Form<ProfileInputModel>("Follow","Profile")) {
                        @Html.Input(x => x.UserName).Attr("type", "hidden")
                        @Html.Submit("Follow").AddClass("btn-follower")
                    }   
                }
            </div>
        </div>
    </div>
</div>
