@using Squawkings.Controllers
@model Squawkings.Models.UserDisp

<div id="profile-top">

    <div id="profile-follow">
        <a href="@(Model.IsOwnProfile?Url.Action("Index", "UploadFile"):"#")">
            <img class="avatar"  src="@Url.Content(Model.DisplayUrl)" alt="View" />
        </a>

        <div id="profile-follow-left">
            <div id="profile-name">
                @Model.UserName
            </div>
            <div id="profile-text">
                @Model.FullName
            </div>
            <div id="profile-bio">
                @Model.Bio
            </div>
        </div>
        <div id="profile-follow-right">
			<div id="profile-follow-disp">
				<span id="profile-follow-num">@Model.Followers</span>
				<span id="profile-follow-text">Followers</span>
			</div>
			<hr/>
            <div id="profile-follow-disp">
                <span id="profile-follow-num">@Model.Following</span>
                <span id="profile-follow-text">Following</span> 
            </div>
            <hr/>
            <div>
                @if(Model.UnfollowButton)
                {
                    using (Html.Form<ProfileInputModel>("UnFollow","Profile")) {
                        @Html.Input(x => x.UserName).Attr("type", "hidden")
                        @Html.Submit("Unfollow").AddClass("btn btn-follower")
                    }                    
                }
                else if(Model.FollowButton)
                {
                    using (Html.Form<ProfileInputModel>("Follow","Profile")) {
                        @Html.Input(x => x.UserName).Attr("type", "hidden")
                        @Html.Submit("Follow").AddClass("btn btn-follower")
                    }   
                }
            </div>
        </div>
    </div>
</div>
