@model List<Squawkings.Models.SquawkDisp>

@foreach (var item in Model)
{
    <div class="squawk-item">
        <div class="squawk-item-image">
            <a href="/@item.Username">
                <img class="avatar" src="@Url.Content("~/Content/Images/"+item.AvatarUrl)" alt="View" />
            </a>
        </div>
        <div class="squawk-item-inner">
            <div>
                <span class="squawk-item-name">@(item.Username)</span> 
                <span>(@(item.FullName))</span>
            </div>
            <div class="squawk-item-text">
                @(item.Content)
            </div>
            <div class="squawk-item-time">
                @(item.Time)
            </div>
        </div>
    </div>
}
