@using Squawkings.Controllers
@using Squawkings.Models
@model Squawkings.Controllers.SquawkDispsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="container">
        @Html.Partial("_header", Model.HeaderView)
        
        @using (Html.Form<SqauwkDispsInputModel>("Index", "home"))
		{
            <div class="squawk-post">
				<div class="squawk-post-top">
					@Html.Input(x => x.Content).Attr("cols", 110).Attr("rows", 4).Attr("placeholder", "This is my first squawk!").AddClass("squawk-post-textarea")
				</div>
				<div class="squawk-post-bottom">
					<span class="squawk-post-val">@Html.ValidationMessage(x=>x.Content).AddClass("squawk-post-val")</span>
					<span class="squawk-post-button">@Html.Submit("Squawk").AddClass("btn btn-primary")</span>
				</div>
            </div>  
         }
        
        <div class="squawks-container">
            @using (Html.Form<GlobalInputModel>("")) {
				@Html.Partial("_sqauwks", Model.SquawkDisps)
            }
        </div>
    </div>

</div>
