@using Squawkings.Controllers
@model Squawkings.Controllers.LogonViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Logon.cshtml";
}

<div id="logon-container">
    @using ( Html.Form<LogonInputModel>("index")) {

        @Html.AntiForgeryToken("AntiForgeryTokenSalt")
        @Html.Input(x=>x.ReturnUrl).Hide()
        <div id="logon-dialog">
            @Html.Input(x=>x.UserName).AddClass("logon-input-userid").Attr("title","Please enter a User Name").Attr("maxlength","50").Attr("placeholder","username")
            @Html.Input(x=>x.PassWord).AddClass("logon-input-password").Attr("title","Please enter a Password").Attr("maxlength","50").Attr("placeholder","password")
            
            <label class="checkbox">
                @Html.Input(x=>x.RememberMe) 
                Remember Me
            </label>

            <input id="logon-input-button" class="btn btn-primary " value="Log In" type="submit" />
        </div>
    }
</div>

<div id="error-dialog" >
    @Html.ValidationSummary(true)
</div>

